Source: liblim-plugin-softhsm-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcommon-sense-perl (>= 3), perl,
 perl (>= 5.10.0) | libdigest-sha-perl (>= 5), liblim-server-perl (= 0.102-1),
 liblim-cli-perl (= 0.102-1)
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: http://github.com/jelu/lim-plugin-softhsm/wiki

Package: liblim-plugin-softhsm-common-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblim-common-perl (= 0.102-1),
 libcommon-sense-perl (>= 3), perl,
 perl (>= 5.10.0) | libdigest-sha-perl (>= 5)
Description: Common perl libraries for SoftHSM Lim plugin
 Common perl libraries for SoftHSM Lim plugin.

Package: liblim-plugin-softhsm-server-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-softhsm-common-perl (= 0.102-1), liblim-server-perl (= 0.102-1)
Description: Server perl libraries for SoftHSM Lim plugin
 Server perl libraries for SoftHSM Lim plugin.

Package: liblim-plugin-softhsm-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-softhsm-common-perl (= 0.102-1)
Description: Client perl libraries for SoftHSM Lim plugin
 Client perl libraries for communicating with the SoftHSM Lim plugin.

Package: liblim-plugin-softhsm-cli-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblim-cli-perl (= 0.102-1),
 liblim-plugin-softhsm-client-perl (= 0.102-1)
Description: CLI perl libraries for SoftHSM Lim plugin
 CLI perl libraries for controlling a local or remote SoftHSM installation via
 SoftHSM Lim plugin.
